a > .lengh-limit {
    color: #fff;
}
.move-crew{
  margin-left: -15px;
}
.xm-color{
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.text-jumbo{
    padding-top: -40px;
}
.jumbo-row{
    margin-left: 10px;
}
.team-header{
    color: white;   
    font-weight: 400;
    letter-spacing: .2rem;
    font-size: 27px;
}
.title{
    color: #fff;   
    font-weight: 400;
    letter-spacing: .2rem;
    font-size: 27px;
}
.title-row{
    margin-top: 20px;
    font-size: 18px;
}
.description{
    font-weight: 300;
    font-size: 17px;
    background-color: #07bc4c;
}
.show-title-header{
    font-weight: 500;
    font-size: 24px;
    color: black;
}
.cast{
  background-color:#07bc4cd2;
    background-attachment: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    width: 100%;
    padding: 15px;

}
.j-divider{
  height: 2.5px;
  width:100%;
  display:block;
  background-color: lightgrey; 
}
.lead{
  font-weight: 600 !important;
  font-size: 20px ;
  color: #595f63;
}
.lebo{
    width: 130px;
    float: left;
  }
.adi-info-lebo{
    width: 100%;
    
    color: black;
}
.lengh-limit{
    display: block;
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.test{
  background-color: inherit !important;
  border:0px !important;
  height: 140px !important;
  overflow: auto;
  text-overflow: ellipsis;
}

img{
    background-image: url("{{ Voyager::image('actors/April2018/L1rvYdVP8i8YKQo5Z9El.jpg') }}");
    position: relative;
}
div.roll{
    overflow: auto;
    white-space: nowrap;
}
.actor-line{
    display: inline-block;
}

/*              code for crew on show title page
<div class="row">

                          <div class="col-lg-3 col-md-2 col-sm-4 col-xs-4">
                                <!--a href="../people/director/{{$title->id}}"-->
                                    <img class="img-circle" src="{!! $imgbaseurl,$imgsize,$profile_path !!}" alt="{{$title->name}}" width="120" height="120">
                                    <h4 class="lengh-limit text-center move-crew">{{ $name }} </h4>
                                <!--/a-->
                                <p><span class="label lebo">Director</span></p>
                          </div> <!-- /.col-lg-3 -->
                          <div class="col-lg-3 col-md-2 col-sm-4 col-xs-4">
                                <!--a href="../people/screenwriter/{{$title->id}}"-->
                                    <img class="img-circle" src="{!! $imgbaseurl,$imgsize,$profile_path !!}" alt="Generic placeholder image" width="120" height="120">
                                    <h4 class="lengh-limit move-crew text-center">{{ $name }} </h4>
                                <!--/a-->
                            <p><span class="label lebo"> Sreenwriter </span> </p>
                          </div> <!-- /.col-lg-3 -->
                        
                          <div class="col-lg-3 col-md-2 col-sm-4 col-xs-4">
                                <!--a href="../people/producer/"-->
                                    <img class="img-circle" src="{!! $imgbaseurl,$imgsize,$profile_path !!}" alt="Generic placeholder image" width="120" height="120">
                                    <h4 class="lengh-limit move-crew text-center">{{$name}} </h4>
                                <!--/a-->
                            <p><span class="label lebo">Producer</span></p>
                          </div> <!-- /.col-lg-3 -->
                  </div>

*/