.imove{
    margin-left: -12px;
}
.pster{
    background-color: #ddd;
    padding: 3px;
    padding-bottom: 8px;
    }
a:hover {
        background: initial;
    }
.title > a {
    display: absolute;
    font-size: 14px;
    color: #636b6f;
    text-decoration: none;
}
.links > a {
    color: #636b6f ;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: .1rem;
    text-decoration: none ;
    }
.jumbo-image{
    background: linear-gradient(135deg, #07bc4c 0%,#6aeea5 22%, #5766af 58%,#6aeea5 100%);
    background-attachment: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    width: 100%;
}
.set-jumbo{
    padding-bottom: 20px;
    margin-top: -50px;
    color: #eee;
}
.j-divider{
  height: 1.8px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: #ddd;
}
.by-country{
    color: inherit;
    font-size: 16px;
}
.by-country >a{
    color: #75726d;
    font-size: 17px;
}
  .sidenav {
    min-height: 120vh !important; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #324446; /* Black */
    padding-top: 20px;
}
.main {
    margin-left: 150px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}
    .lengh-limit{
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}