
.trailer{
  width: 100%;
  background: linear-gradient(135deg, #07bc4c 0%,#6aeea5 22%, #5766af 78%,#6aeea5 100%);
  color: #feddad;
  border-color: #43ca84;
  padding-bottom: 7px;
  padding-top: 7px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.download-btn{
  position: relative;
  bottom: 0;
  right: 0;
}

/* This has NOTHING to to with the player. It only styles the plot on the right side of the player*/
.movie-plot{
  width: 100%;
  padding: 5px 5px 5px 5px;
  background-color: rgba(255, 255, 255, 0.52);
  font-size: 14.5px;
  color: #111;
  text-align: justify;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.player {
  max-width:1000px;
  border:5px solid rgba(0,0,0,0.2);
  box-shadow:0 0 20px rgba(0,0,0,0.2);
  position: relative;
  font-size: 0;
  overflow: hidden;
}

/* This css is only applied when fullscreen is active. */
.player:fullscreen {
  max-width: none;
  width: 100%;
}

.player:-webkit-full-screen {
  max-width: none;
  width: 100%;
}

.player__video {
  width: 100%;
}

.play {
  font-size: 20.5px;
}
.player__button {
  background:none;
  border:0;
  line-height:1;
  color:white;
  text-align: center;
  outline:0;
  padding: 0;
  cursor:pointer;
  max-width:50px;
}

.player__button:focus {
  border-color: #ffc600;
}

.player__slider {
  width:60px;
  height:30px;
}

.player__fullscreen {
  font-size: 20px;
  color: white;
  border: 0;
  outline:0;
  max-width: 35px;
  background: transparent;
}

.player__controls {
  display:flex;
  position: absolute;
  bottom:0;
  width: 100%;
  transform: translateY(100%) translateY(-5px);
  transition:all .3s;
  flex-wrap:wrap;
  background-color:rgba(0,0,0,0.65);
}

.player:hover .player__controls {
  transform: translateY(0);
}

.player:hover .progress {
  height:6px;
}

.player__controls > * {
  flex:1;
}

.progress {
  flex:10;
  position: relative;
  display:flex;
  flex-basis:100%;
  height:5px;
  transition:height 0.3s;
  background-color:#000;
  cursor:pointer;
}

.progress__filled {
  width:50%;
  background:#07bc4c;
  flex:0;
  flex-basis:0%;
}

/* unholy css to style input type="range" */
input {
    -webkit-appearance: none;/*textfield;*/
    background-color: transparent;
    -webkit-rtl-ordering: logical;
    cursor: pointer;
    padding: 1px;
    /*border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;*/
}


input[type=range] {
  -webkit-appearance: none;
  background:transparent;
  width: 100%;
  margin: 0 5px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
  background: rgba(255,255,255,0.8);
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}
input[type=range]::-webkit-slider-thumb {
  height: 13px;
  width: 23px;
  border-radius: 50px;
  background: #07bc4c;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.5px;
  box-shadow:0 0 2px rgba(0,0,0,0.2);
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background:#918182;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  /*box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);*/
  background: #fff;
  border-radius: 13px;
  /*border: 0.2px solid rgba(1, 1, 1, 0);*/
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
  height: 13px;
  width: 23px;
  border-radius: 50px;
  background: #07bc4c;
  cursor: pointer;
}
input[type=range]:focus::-moz-range-track {
  background:#918182;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
  background: #fff;
  border-radius: 13px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}
input[type=range]::-ms-thumb {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
  height: 13px;
  width: 23px;
  border-radius: 50px;
  background: #07bc4c;
  cursor: pointer;
  margin-top: 1px;
}
input[type=range]:focus::-ms-track {
  background:#918182;
}

